# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Arduino / ESP32
*.bin
*.elf
*.hex
*.ino.backup
*.ino.save
build/
data/

# VSCode
.vscode/
.history/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.venv/
*.env
